{% extends 'base.html' %}
{% load static %}

{% block title %}Crowd-fund app{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'projects/css/carousel_layout.css' %}"/>
{% endblock %}
{% block header %}
<div class="welcome-msg">
    Welcome
    {% if request.user.id %}
        {{ request.user }}
    {% else %}
        guest
    {% endif %}
</div>
{% include "projects/projects_header.html" %}
{% endblock %}

{% block content %}
    <h3>Top projects:</h3>
    {% if top_rated %}
        <div class="center"><div style="width:60%; height:50%; ">{% include "projects/project_carousel.html" with top_rated=top_rated %}</div></div>
    {% else %}
        <p>No projects found</p>
    {% endif %}

    <h3>Latest projects:</h3>
    {% if latest %}
        <ul>
        {% for p in latest %}
            <li><a href="{% url 'projects:project' p.id %}">{{ p.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No projects found</p>
    {% endif %}

    <h3>Featured projects:</h3>
    {% if featured %}
        <ul>
        {% for p in featured %}
            <li><a href="{% url 'projects:project' p.project_id.id %}">{{ p.project_id.title }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No projects found</p>
    {% endif %}
{% endblock %}
{% block right_panel %}
<ul><li><a href="{% url 'projects:project_create' %}">Create project</a></li></ul>
{% endblock %}
