<form method="get" action="{% url 'projects:projects'%}">
    <label for="category">Fundraise for category:</label>
    <select id="category" name="category">
        <option value="-1" selected="selected">All</option>
        {% for category in categories %}
            <option value="{{ category.id }}"
                    {% if category_displayed == category.id %}selected="selected"{% endif %}> {{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>