{% extends 'project_base.html' %}
{% load static %}
{% block title %}Project: {{ title }}{% endblock %}
{% block content %}
{% for project_data in response %}
    <table>
        <tr><td style="padding-right:15px;" ><h1>{{ project_data.title }}</h1></td></tr>
        <tr><td>Category</td><td style="padding-right:15px; ">{{ project_data.category }}</td></tr>
        <tr><td>Total target</td><td style="padding-right:15px; ">L.E. {{ project_data.total_target }}</td></tr>
        <tr><td>Tags</td><td style="padding-right:15px; ">
            {% for tag in project_data.tags %}
            <span class="tag_cell">{{ tag.name }}</span>
            {% endfor %}
        </td></tr>
        <tr><td>Start date</td><td style="padding-right:15px; ">{{ project_data.start_date }}</td></tr>
        <tr><td>End date</td><td style="padding-right:15px; ">{{ project_data.end_date }}</td></tr>
        <tr><td>Added at</td><td style="padding-right:15px; ">{{ project_data.added_at }}</td></tr>
        <tr><td>Details: </td><td style="padding-right:15px;border: 1px solid black; ">{{ project_data.details }}</td></tr>
    </table>
{% endfor %}
{% endblock %}
