<div class="slideshow-container">
{% for p in top_rated %}
  <a href="{% url 'projects:project' p.id %}">
    <div class="mySlides fade">
      <div class="numbertext">{{ forloop.counter }} / {{ top_rated|length }}</div>
      <img src="{{MEDIA_URL}}{{ p.images.all.first }}" style="width:100%">
      <div class="text">{{ p.title }}</div>
    </div>
  </a>
{% endfor %}
<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  {% for p in top_rated %}
    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
  {% endfor %}
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>