{% extends 'projects/project_base.html' %}
{% load static %}
{% block title %}Project list{% endblock %}
{% block project_content %}
<table>
{% for project_data in response %}
    <tr><td>
    <table class="table-not-striped">
        <tr>
            <td style="padding-right:15px; width:200px; " ><h3><a href="{% url 'projects:project' project_data.id %}">{{ project_data.title }}</a></h3></td>
            <td rowspan="5"><image src="{{MEDIA_URL}}{{ project_data.icon_image }}" style="max-width:200px; max-height:200px;"/>
        </tr>
        <tr><td>Created by:<div style="text-align: center;">{{project_data.user.username}}</div></td>
        </tr>
        <tr>
            <td>{{ project_data.category }}</td>
        </tr>
        <tr>
            <td>
                {% for tag in project_data.tags %}
                <span class="tag_cell">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr><td>
<!--            <div>-->
                <table>
                    {% for i in "x"|ljust:"5" %}
                        {% if forloop.counter0 < project_data.rate %}
                            <td style="border:1px solid red; background: red; width:10px; height:10px; "></td>
                        {% else %}
                            <td style="border:1px solid red; width:10px; height:10px; "></td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
<!--            </div>-->
        </td></tr>
        {# <tr><td>Category</td><td style="padding-right:15px; ">{{ project_data.category }}</td></tr> #}
        {# <tr><td>Total target</td><td style="padding-right:15px; ">L.E. {{ project_data.total_target }}</td></tr> #}
        {# <tr><td>Tags</td><td style="padding-right:15px; "> #}
            {# {% for tag in project_data.tags %} #}
            {# <span class="tag_cell">{{ tag.name }}</span> #}
            {# {% endfor %} #}
        {# </td></tr> #}
        {# <tr><td>Start date</td><td style="padding-right:15px; ">{{ project_data.start_date }}</td></tr> #}
        {# <tr><td>End date</td><td style="padding-right:15px; ">{{ project_data.end_date }}</td></tr> #}
        {# <tr><td>Added at</td><td style="padding-right:15px; ">{{ project_data.added_at }}</td></tr> #}
        {# <tr><td>Details: </td><td style="padding-right:15px;border: 1px solid black; ">{{ project_data.details }}</td></tr> #}
    </td></tr>
    </table>
{% endfor %}
</table>
{% endblock %}
