Login:
<div style="background: lightgrey; padding:10px; ">
    <form method="post" action="{% url 'rest_login' %}">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'user_password_reset_request'%}">Forgot password</a>
    <p><a href="https://www.facebook.com/v15.0/dialog/oauth?client_id=1570738886678657&redirect_uri=http://localhost:8000/user/facebook/auth/&state={st=state123abc,ds=123456789}&scope=email,public_profile,user_birthday,user_link,user_location">Facebook login</a></p>
</div>
