{% extends "crowd_fund_app/base.html" %}
{% load i18n %}
{% load account %}
{% block title %} Email confirm {% endblock %}
{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>This e-mail confirmation link has expired or is invalid. You can <a href="{% url 'request_activation' %}">issue a new e-mail confirmation request</a>.</p>
<p>If you have already activated your account, you can <a href="{% url 'home' %}">log in</a></p>
{% endif %}

{% endblock %}
