{% extends 'crowd_fund_app/base.html' %}
{% load static %}

{% block title %}User profile: {{ user.username }}{% endblock %}
{% block content %}
{% if external_picture %}
    <img src="{{user.picture}}" style="max-width: 200px; max-height: 200px; "/>
{% else %}
    <img src="{{MEDIA_URL}}{{user.picture}}" style="max-width: 200px; max-height: 200px; "/>
{% endif%}
<table>
    <tr><td style="width:auto%; font-weight:bold; ">Username</td><td style="width:60%; ">{{user.username}}</td></tr>
    <tr><td style=" font-weight:bold; ">Email</td><td>{{user.email}}</td></tr>
    <tr><td style=" font-weight:bold; ">Country</td><td>{{user.country}}</td></tr>
        <tr><td style=" font-weight:bold; ">Facebook profile</td>
            <td>
                {% if user.facebook_profile is not None %}
                    <a href="{{user.facebook_profile}}">{{user.facebook_profile}}</a>
                {% else %}
                    {{user.facebook_profile}}
                {% endif %}
            </td>
        </tr>
</table>
{% endblock %}
